@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

a:not(.rte a), a[href=""], a[href="#"] {
  text-decoration: none;
}

a[href=""], a[href="#"] {
  cursor: default;
}

a:hover:not(.rte a:hover), a:hover[href=""], a:hover[href="#"] {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #ddd;
}

.header_announcement_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px 0;
}
.header_announcement_container .ns_logo {
  width: 160px;
  height: 50px;
}
.header_announcement_container .ns_logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header_announcement_container .ns_annou_contents {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header_announcement_container .ns_ann_content {
  display: flex;
  align-items: start;
  gap: 8px;
  border-left: 1px solid #ddd;
  padding-left: 14px;
}
.header_announcement_container .ns_ann_content:first-child {
  border: none;
}
.header_announcement_container .ns_ann_img {
  width: 70px;
  height: 70px;
}
.header_announcement_container .ns_ann_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header_announcement_container .ns_ann_icon {
  color: #D60000;
  display: block;
  background: #000;
  z-index: 99;
}
.header_announcement_container .ns_ann_text {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
.header_announcement_container .ns_ann_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Merriweather", serif;
}
.header_announcement_container .auth_container {
  display: none;
}

@media screen and (max-width: 640px) {
  .header_announcement_container .ns_annou_contents {
    display: none;
  }
  .header_announcement_container .auth_container {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .header_announcement_container .ns_search {
    border-right: 1px solid #ddd;
    padding-right: 12px;
  }
  .header_announcement_container .ns_user_content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Roboto", sans-serif;
  }
}
.ns_navbar {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
.ns_navbar .ns_nav_lists {
  display: flex;
  align-items: center;
}
.ns_navbar .ns_nav_menu_lists {
  width: 100%;
  overflow: hidden;
}
.ns_navbar .ns_nav_menus {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.ns_navbar .ns_nav_menus li {
  list-style: none;
  font-family: "Roboto", sans-serif;
}
.ns_navbar .ns_nav_menus li a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  line-height: 25px;
  text-wrap: nowrap;
  transition: all 200ms;
}
.ns_navbar .ns_nav_menus li a:hover {
  color: blue;
}
.ns_navbar .ns_nav_icons {
  display: flex;
  align-items: center;
}
.ns_navbar .ns_nav_icon_contents {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  gap: 4px;
}
.ns_navbar .ns_icon_text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Merriweather", serif;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.ns-container {
  max-width: 1320px;
  width: calc(100% - 24px);
  margin-inline: auto;
}/*# sourceMappingURL=style.css.map */