@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

a:not(.rte a), a[href=""], a[href="#"] {
  text-decoration: none;
}

a[href=""], a[href="#"] {
  cursor: default;
}

a:hover:not(.rte a:hover), a:hover[href=""], a:hover[href="#"] {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #ddd;
}

.header_announcement_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px 0;
}
.header_announcement_container .ns_logo {
  width: 160px;
  height: 50px;
}
.header_announcement_container .ns_logo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header_announcement_container .ns_annou_contents {
  display: flex;
  align-items: center;
  gap: 8px;
}
.header_announcement_container .ns_ann_content {
  display: flex;
  align-items: start;
  gap: 8px;
  border-left: 1px solid #ddd;
  padding-left: 14px;
}
.header_announcement_container .ns_ann_content:first-child {
  border: none;
}
.header_announcement_container .ns_ann_img {
  width: 70px;
  height: 70px;
}
.header_announcement_container .ns_ann_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header_announcement_container .ns_ann_icon {
  color: #D60000;
  display: block;
  background: #000;
  z-index: 99;
}
.header_announcement_container .ns_ann_text {
  display: inline-flex;
  align-items: center;
  gap: 2px;
}
.header_announcement_container .ns_ann_title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Merriweather", serif;
}
.header_announcement_container .auth_container {
  display: none;
}

@media screen and (max-width: 640px) {
  .header_announcement_container .ns_annou_contents {
    display: none;
  }
  .header_announcement_container .auth_container {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .header_announcement_container .ns_search {
    border-right: 1px solid #ddd;
    padding-right: 12px;
  }
  .header_announcement_container .ns_user_content {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Roboto", sans-serif;
  }
}
.ns_navbar {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}
.ns_navbar .ns_nav_lists {
  display: flex;
  align-items: center;
}
.ns_navbar .ns_nav_menu_lists {
  width: 100%;
  overflow: hidden;
}
.ns_navbar .ns_nav_menus {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.ns_navbar .ns_nav_menus li {
  list-style: none;
  font-family: "Roboto", sans-serif;
}
.ns_navbar .ns_nav_menus li a {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 700;
  line-height: 25px;
  text-wrap: nowrap;
  transition: all 200ms;
}
.ns_navbar .ns_nav_menus li a:hover {
  color: blue;
}
.ns_navbar .ns_nav_icons {
  display: flex;
  align-items: center;
}
.ns_navbar .ns_nav_icon_contents {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  gap: 4px;
  cursor: pointer;
}
.ns_navbar .ns_icon_text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Merriweather", serif;
  font-weight: 400;
}

.ns_main_news .main_news_container {
  display: grid;
  grid-template-columns: 350px 720px 350px;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
}
.ns_main_news .ns_news_leftside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-right: 8px;
}
.ns_main_news .ns_news_left_side_content {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 8px 4px;
}
.ns_main_news .ns_news_left_side_img_with_text {
  display: flex;
  align-items: start;
  gap: 10px;
}
.ns_main_news .ns_title {
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  text-align: start;
  margin-bottom: 6px;
}
.ns_main_news .ns_title:hover {
  color: blue;
}
.ns_main_news .ns_img {
  width: 200px;
  height: 80px;
  overflow: hidden;
}
.ns_main_news .ns_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ns_main_news .ns_img img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.ns_main_news .ns_desc {
  color: rgba(0, 0, 0, 0.68);
  font-family: "Merriweather", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: start;
  margin-bottom: 10px;
  display: block;
  max-width: 280px;
}
.ns_main_news .ns_desc:hover {
  color: blue;
}
.ns_main_news .ns_date {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.68);
}
.ns_main_news .ns_subtitle_col {
  color: crimson;
  font-size: 15px;
  font-family: "Merriweather", serif;
  line-height: 20px;
}
.ns_main_news .ns_subtitle_col .ns_subtitle {
  color: rgba(0, 0, 0, 0.87);
}
.ns_main_news .ns_news_middleside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-right: 1px solid #ddd;
  overflow: hidden;
}
.ns_main_news .ns_topmain_news {
  display: flex;
  align-items: start;
  gap: 14px;
}
.ns_main_news .ns_top_img {
  width: 600px;
  height: 200px;
  overflow: hidden;
}
.ns_main_news .ns_top_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ns_main_news .ns_top_img img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.ns_main_news .ns_reporter_name {
  font-family: "Merriweather", serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: rgb(89, 89, 89);
}
.ns_main_news .ns_topmain_news_content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.ns_main_news .ns_top_title {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.87);
  text-align: start;
  margin-bottom: 8px;
  max-width: 300px;
}
.ns_main_news .ns_top_title:hover {
  color: blue;
}
.ns_main_news .ns_top_desc {
  color: rgba(0, 0, 0, 0.68);
  font-family: "Merriweather", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: start;
  margin-bottom: 8px;
}
.ns_main_news .ns_top_desc:hover {
  color: blue;
}
.ns_main_news .ns_submain_news {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.ns_main_news .ns_news_middle_side_content {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
.ns_main_news .ns_news_middle_side_content:nth-child(1) {
  border-right: 1px solid #ddd;
}
.ns_main_news .ns_news_rightside {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.ns_main_news .ns_news_right_side_content {
  border-bottom: 1px solid #ddd;
  padding: 8px 4px;
}
.ns_main_news .ns_news_right_side_content:last-child {
  border: none;
}

@media screen and (max-width: 760px) {
  .ns_main_news .main_news_container {
    grid-template-columns: 1fr 1fr;
  }
  .ns_main_news .ns_news_left_side_img_with_text {
    flex-wrap: wrap;
  }
  .ns_main_news .ns_topmain_news {
    flex-wrap: wrap;
  }
  .ns_main_news .ns_submain_news {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 640px) {
  .ns_main_news .main_news_container {
    grid-template-columns: 1fr;
  }
  .ns_main_news .main_news_container .ns_news_middleside {
    grid-row: 1/2;
  }
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.ns-container {
  max-width: 1420px;
  width: calc(100% - 24px);
  margin-inline: auto;
}/*# sourceMappingURL=style.css.map */