.ns_main_news {
    .main_news_container {
        display: grid;
        grid-template-columns: 350px 720px 350px;
        justify-content: space-between;
        align-items: start;
        overflow: hidden;
    }
    .ns_news_leftside {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-right: 8px;
    }

    .ns_news_left_side_content {
        border-right: 1px solid $col-gray;
        border-bottom: 1px solid $col-gray;
        padding: 8px 4px;
    }

    .ns_news_left_side_img_with_text {
        display: flex;
        align-items: start;
        gap: 10px;
    }

    .ns_title {
        font-family: $font-meri;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        color: $col-primary;
        text-align: start;
        margin-bottom: 6px;

        &:hover {
            color: blue;
        }
    }

    .ns_img {
        width: 200px;
        height: 80px;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:hover {
                transform: scale(1.05);
                transition: transform 0.3s ease;
            }
        }
    }

    .ns_desc {
        color: $col-secondary;
        font-family: $font-meri;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: start;
        margin-bottom: 10px;
        display: block;
        max-width: 280px;

        &:hover {
            color: blue;
        }
    }

    .ns_date {
        font-family: $font-roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: $col-secondary;
    }

    .ns_subtitle_col {
        color: crimson;
        font-size: 15px;
        font-family: $font-meri;
        line-height: 20px;
        .ns_subtitle {
            color: $col-primary;
        }
    }

    .ns_news_middleside {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        border-right: 1px solid $col-gray;
        overflow: hidden;
    }

    .ns_topmain_news {
        display: flex;
        align-items: start;
        gap: 14px;
    }

    .ns_top_img{
        width: 600px;
        height: 200px;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

            &:hover {
                transform: scale(1.05);
                transition: transform 0.3s ease;
            }
        }
    }

    .ns_reporter_name {
        font-family: $font-meri;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: rgb(89, 89, 89);
    }

    .ns_topmain_news_content {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .ns_top_title {
        font-family: $font-meri;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        color: $col-primary;
        text-align: start;
        margin-bottom: 8px;
        max-width: 300px;

        &:hover {
            color: blue;
        }
    }

    .ns_top_desc {
        color: $col-secondary;
        font-family: $font-meri;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: start;
        margin-bottom: 8px;

        &:hover {
            color: blue;
        }
    }

    .ns_submain_news {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }

    .ns_news_middle_side_content {
        padding: 12px;
        border-bottom: 1px solid $col-gray;
        &:nth-child(1) {
            border-right: 1px solid $col-gray;
        }
    }

    .ns_news_rightside {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .ns_news_right_side_content {
        border-bottom: 1px solid $col-gray;
        padding: 8px 4px;

        &:last-child {
            border: none
        }
    }
}

@media screen and (max-width: 760px){
    .ns_main_news {
        .main_news_container {
            grid-template-columns: 1fr 1fr;
        }
        .ns_news_left_side_img_with_text {
            flex-wrap: wrap;
        }

        .ns_topmain_news {
            flex-wrap: wrap;
        }

        .ns_submain_news {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 640px){
    .ns_main_news {
        .main_news_container {
            grid-template-columns: 1fr;

            .ns_news_middleside {
                grid-row: 1 / 2;
            }
        }
    }
}