$font-meri: "Merriweather", serif;
$font-roboto: "Roboto", sans-serif;
$font-space-mono: "Space Mono", monospace;
$font-helvetica: Helvetica, sans-serif;

$col-primary: rgba(0, 0, 0, 0.87);
$col-gray: #ddd;
