.ns_video_slider {
  padding: 50px 0;
  .ns_video_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: $col-primary;
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    transition: color 0.3s ease;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }

  .ns_slide_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    position: relative;

    img:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease;
    }

    .ns_yt_icon {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }

  .ns_slide_text_content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .ns_slide_video_title {
    font-family: $font-meri;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    color: $col-primary;
    margin: 4px 0 6px 0;

    &:hover {
      color: blue;
    }
  }

  .ns_slide_video_desc {
    color: rgba(0, 0, 0, 0.68);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: $font-meri;
    margin-bottom: 10px;

    &:hover {
      color: blue;
    }
  }

  .ns_slideDate {
    color: rgba(0, 0, 0, 0.56);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    font-family: $font-roboto;
  }

  .nsVideoSwiper {
    position: relative;
  }

  .ns_slide_left_btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
  }

  .ns_slide_right_btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 10;
  }

  .ns_slide_left_btn,
  .ns_slide_right_btn {
    background: #000;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    outline: none;
    cursor: pointer;
    border: none;
  }
}
